{% extends 'index.html' %}

{% load paginator_tag %}

<!--{% load i18n %} &lt;!&ndash;FOR TRANSLATE&ndash;&gt;-->

{% block auth %}
    {% include 'buttons/auth_button.html' %}
{% endblock auth %}

{% block title %}
    Feedbacks consideration
{% endblock title %}

{% block content %}

    <form action="{% url 'consideration' %}" method="get">
        {{ form.as_p }}
        <input type="submit" value="Find"/>
    </form>

    <br>

    <button onclick="window.location.href='http://127.0.0.1:8000/get/feedbacks/'">Reload</button>

    <hr>

    {% for object in objects  %}
        <p>
            <h4>User {{ object.feedback_user }}, leave feedback in {{ object.feedback_post.header }} post</h4>
            <h5>{{ object.text }}</h5>
            <h6>{{ object.datetime }}</h6>
            <h6>{{ object.feedback_user.email }}</h6>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="feedback_id" value="{{ object.id }}" />

                {% if object.user_subscribed %}
                    <button name="action" value="unsubscribe">Not to accept</button>
                    <button disabled>Accepted</button>
                {% else %}
                    <button name="action" value="subscribe">Accepted</button>
                    <button disabled>Not to accept</button>
                {% endif %}
            </form>
            <hr>
        <p>
    {% endfor %}

    {% if objects.has_previous %}
        <a href="?{% url_replace page=1 %}"> first</a>
        <a href="?{% url_replace page=objects.previous_page_number %}"> previous</a>
    {% endif %}

    <span class="current">
        page {{ objects.number }} of {{ objects.paginator.num_pages }}.
    </span>

    {% if objects.has_next %}
        <a href="?{% url_replace page=objects.next_page_number %}"> next</a>
        <a href="?{% url_replace page=objects.paginator.num_pages %}"> last</a>
    {% endif %}

{% endblock content %}