{% extends 'index.html' %}

<!--{% load i18n %} &lt;!&ndash;FOR TRANSLATE&ndash;&gt;-->

{% block auth %}
    {% include 'buttons/auth_button.html' %}
{% endblock auth %}

{% block title %}
    Create post
{% endblock title %}

{% block content %}
    <h1>Create post</h1>
    <hr>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" value="Save"/>
    </form>

    <hr>

    <button onclick="window.location.href='http://127.0.0.1:8000/get/board/'">Back</button>
{% endblock content %}